.hero {
    margin-bottom: 71px;
}

.hero__flexbox {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero__image {
    width: 1178px;
    height: 1149px;
    position: absolute;
    transform: translateX(80%);
    bottom: -60%;
}

.hero__blur {
    position: relative;
    border-radius: 100%;
    width: 484px;
    height: 478px;
    background: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    filter: blur(250px);
}

.hero__image img {
    width: 100%;
}

.hero__inner {
    color: var(--accent-color);
}

.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 117%;
    background: linear-gradient(132deg, #fff 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 968px;
    margin-bottom: 13px;
}

.hero__list {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.59;
    color: #eae9e9;
    margin-bottom: 36px;
}

.hero__item {
    list-style: inside;
}

.hero__buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 49px;
}

.hero__button {
    max-width: 378px;
    max-height: 106px;
    font-weight: 700;
    font-size: 135%;
    line-height: 1.59;
    color: #000;
    display: flex;
}

.hero__button-border {
    max-width: 378px;
    max-height: 106px;
}

.hero__button-img {
    max-width: 101px;
}

.hero__button-img img {
    width: 100%;
}

.hero__button {
    padding-left: 25px;
}


.hero__users {
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero__users-images {
    display: flex;
    max-width: 152px;
}

.hero__users-img {
    transform: translateX(-40%);
    width: 70px;
}



.hero__users-img:last-child {
    transform: translateX(-80%);
}

.hero__users-img:first-child {
    transform: none;
}

.hero__users-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.26;
    color: #fff;
    max-width: 435px;
}