.footer {
    background: #ab8261;
    color: var(--general-bg);
    padding: 66px 0 60px;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr auto;
    gap: 15px;
    justify-content: space-between;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__text {
    margin: 20px 0 20px;
    line-height: 1.5;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: all .3s;
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__order {
    margin: 10px 0;
}

.footer__order:last-child {
    margin-bottom: 0;
}

.footer__order:first-child {
    margin-top: 0;
}

.footer__order {
    line-height: 1.5;
    padding: 5px 0;
}

.footer__order {
    display: block;
    position: relative;
    z-index: 1;
}

.footer__order::before {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -13px;
    display: block;
    z-index: -1;
    transition: all .5s;
    opacity: 0;
}

.footer__order:hover::before {
    opacity: 1;
}

.footer__contact-item:first-child {
    margin-bottom: 10px;
}

.footer__contact-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__col-tel span {
    line-height: 1.5;
}

.footer__col-number {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 47px;
    display: block;
}

.footer__col-copy {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 11.6px;
}

.footer__col-copy span {
    line-height: 1.5;
    color: #dec5b1;
}