body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
}

:root {
    --H1: 74px;
    --H2: 72px;
    --H3: 32px;
    --accent-color: #ffa55c;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --border-radius: 20px;
}

h1,
h2 {
    font-family: 'Gabriola', serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 15px;
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}

.button {
    border-radius: 60px;
    padding: 3px 10px;
    height: 62px;
    background: var(--accent-color);
    font-weight: 500;
    line-height: 1.6;
    color: #312c27;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    cursor: pointer;
}

.button:hover {
    scale: 1.05;
    background: #ff9138;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.modal__form>button {
    width: 100%;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* ================================================================================== */

.header {
    background: url('../images/decor/bg-header.png') 50% 100% / cover no-repeat;
    max-height: 721px;
}

.header__top {
    margin-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    display: block;
    max-width: 174px;
    max-height: 60px;
    z-index: 11;
}

.logo img {
    width: 100%;
}

.navigation__list {
    display: flex;
    color: #312c27;
    gap: 4vh 40px;
    font-weight: 400;
    color: #312c27;
    cursor: pointer;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background: #312c27;
    border-radius: 100px;
    position: absolute;
    transition: all .3s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.navigation__link {
    padding: 5px 0;
    position: relative;
    display: block;
    z-index: 1;
}

.navigation__link::before {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -13px;
    display: block;
    z-index: -1;
    transition: all .5s;
    opacity: 0;
}

.navigation__link:hover::before {
    opacity: 1;
}

.header__text {
    max-width: 519px;
    align-self: end;
}

.header__subtitle-item {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
}

.header__subtitle {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__subtitle span {
    display: flex;
    align-items: center;
}

.header__subtitle span::after {
    content: '';
    display: block;
    background: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 0 10px;
}

.header__subtitle-item:last-child::after {
    content: none;
}

.header__title {
    line-height: 0.82;
    font-size: var(--H1);
    margin-bottom: 30px;
}

.header__paragraph {
    color: #312c27;
    max-width: 358px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.header__button {
    max-width: 358px;
    width: 100%;
}

.header__bottom {
    padding: 48px 0 140px 0;
}


.header__bottom-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.header__image {
    position: relative;
    margin-right: 247px;
}

.header__image img {
    width: 100%;
}

.header__play {
    height: 78px;
    display: flex;
    position: absolute;
    gap: 10px;
    bottom: 51px;
    left: 339px;
}

.header__play--dubl {
    height: 78px;
    display: flex;
    position: static;
    gap: 10px;
    display: none;
}

.header__play-button {
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    border-radius: 50%;
    min-width: 78px;
    height: 78px;
    background: var(--accent-bg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__play-border {
    height: 68px;
    width: 68px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transition: all .4s;
}

.header__play-button:hover .header__play-border {
    opacity: 1;
}


.header__play-button svg {
    padding-left: 5px;
}

.header__play-text {
    max-width: 112px;
    line-height: 1.5;
}

/* ================================================================================== */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
    padding: 140px 0;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-conrol {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: #957b97e6;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #CEAAD0;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.about__title-text {}

.about__text {}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}

/* ================================================================================== */

.footer {
    background: #ab8261;
    color: var(--general-bg);
    padding: 66px 0 60px;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr auto;
    gap: 15px;
    justify-content: space-between;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__text {
    margin: 20px 0 20px;
    line-height: 1.5;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: all .3s;
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__order {
    margin: 10px 0;
}

.footer__order:last-child {
    margin-bottom: 0;
}

.footer__order:first-child {
    margin-top: 0;
}

.footer__order {
    line-height: 1.5;
    padding: 5px 0;
}

.footer__order {
    display: block;
    position: relative;
    z-index: 1;
}

.footer__order::before {
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    position: absolute;
    top: -8px;
    left: -13px;
    display: block;
    z-index: -1;
    transition: all .5s;
    opacity: 0;
}

.footer__order:hover::before {
    opacity: 1;
}

.footer__contact-item:first-child {
    margin-bottom: 10px;
}

.footer__contact-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__col-tel span {
    line-height: 1.5;
}

.footer__col-number {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 47px;
    display: block;
}

.footer__col-copy {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 11.6px;
}

.footer__col-copy span {
    line-height: 1.5;
    color: #dec5b1;
}

/* ================================================================================== */
@media (max-width: 1200px) {
    .header__image {
        margin: 0;
    }

    .header__play {
        height: 78px;
        display: flex;
        position: static;
        margin-top: 30px;
        align-items: center;
    }

    .header__play-text {
        max-width: none;
    }

    .footer__inner {
        gap: 40px 15px;
        grid-template-columns: .9fr .9fr 1.1fr auto;
    }

    .footer__col:nth-child(3) {
        grid-column: 3 / -1;
        justify-self: end;
    }

    .footer__col:last-child {
        display: flex;
        flex-direction: column;
        grid-column: -5 / -1;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }
}

@media (max-width: 900px) {
    .navigation {
        display: block;
        width: 100vw;
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .navigation__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .navigation {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        overflow: hidden;
    }

    .burger-icon {
        display: flex;
        z-index: 11;
    }

    .footer__inner {
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        gap: 0px;
    }

    .footer__col:first-child {
        grid-column: 2 / 3;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer__col:nth-child(2) {
        grid-column: 2 / 3;
        text-align: center;
    }

    .footer__col:nth-child(3) {
        grid-column: 2 / 3;
        justify-self: center;
        margin-top: -40px;
    }

    .footer__col:last-child {
        grid-column: -3 / -2;
        margin-top: -40px;
    }

    .footer__contact-link {
        justify-self: center;
    }

    .school__inner {
        display: flex;
        flex-direction: column;
    }

    .school__image {
        width: 603px;
    }

    .school__image img {
        object-fit: cover;
        height: auto;
    }
}

@media (max-width: 800px) {
    .header__image {
        display: none;
    }

    .header__play--dubl {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
    }

    .header__paragraph {
        margin-bottom: 30px;
    }

    .header__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

}

@media (max-width: 600px) {
    .header__title {
        font-size: 10vw;
    }

    .about__title {
        font-size: 12vw;
    }

    .about__img-conrol {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }
}

@media (max-width: 450px) {
    .modal__img {
        width: 50%;
        margin-top: -45px;
    }
    .modal__title {
        font-size: 35px;
    }
    .modal__window {
        padding: 0 15px 45px;
    }
}